MOMA COLLECTION

In [2]:
import pandas as pd

In [5]:
artists = pd.read_csv('artists.csv', sep=',')
artists.head()

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN

In [6]:
artists.shape

(15243, 9)

In [7]:
artists.duplicated().sum()

0

In [8]:
artists = artists.drop(['ArtistBio', 'Wiki QID', 'ULAN'], axis=1)

In [9]:
artists.shape

(15243, 6)

In [26]:
artists.loc[artists['DisplayName'] == 'Edward Hopper']

      ConstituentID    DisplayName Nationality Gender  BeginDate  EndDate
2424           2726  Edward Hopper    American   Male       1882     1967

In [28]:
artists.tail()

,ConstituentID,DisplayName,Nationality,Gender,BeginDate,EndDate
15238,135018,Abdoulaye Konaté,Malian,NaN,1953,0
15239,135032,Yolanda Lopez,American,Female,1942,2021
15240,135042,Arnt Jensen,Danish,Male,1971,0
15241,135111,After Sophie Taeuber-Arp,NaN,NaN,0,0
15242,135298,William Theophilius Brown,American,Male,1919,2012

In [27]:
artists.to_csv('artists_clean.csv', encoding='latin-1', index=False)

UnicodeEncodeError: 'latin-1' codec can't encode character '\u0219' in position 21: ordinal not in range(256)